.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 10ms 300ms ease-out;

    .modal-overlay{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: #000;
        opacity: 0;
        width: 100%;
        height: 100vh;
        transition: all 300ms 220ms ease-out;
    }

    .modal-content{
        width: 540px;
        max-width: 90%;
        background-color: $white;
        padding: 40px 60px;
        position: relative;
        border: none;
        opacity: 0;
        transform: translateY(40px);
        transition: all 300ms 20ms ease-out;

        .close-modal{
            width: 45px;
            height: 45px;
            border-radius: 23px;
            background-color: #333;
            color: $white;
            line-height: 45px;
            display: inline-block;
            position: absolute;
            top: -23px;
            right: -23px;
            text-align: center;
            cursor:pointer;
            font-size: 28px;

            &:hover{
                color: $white;
            }
        }
    }

    &.active{
        opacity: 1;
        visibility: visible;
        transition: all 10ms 10ms ease-out;

        .modal-overlay{
            opacity: 0.25;
            transition: all 300ms 20ms ease-out;
        }

        .modal-content{
            transform: translateY(0);
            opacity: 1;
            transition: all 300ms 220ms ease-out;
        }
    }

    @media #{$information-lg-tablet} {}
    @media #{$information-hz-phone} {}
    @media #{$information-tablet} {}
}

#signup-as-shop-form{
    .form-field{
        margin-bottom: 20px;

        label{
            display: block;
            color: $gray;
            margin-bottom: 8px;
            font-size: 16px;
        }
    
        input, textarea{
            width: 100%;
            resize: none;
            border: 0.5px solid #E3E3E3;
            padding: 5px 15px;
            border-radius: 4px;
            font-size: 16px;
            color: $text-color;
        }
    }
    
    @media #{$information-laptop} {
        .form-field{
            margin-bottom: 18px;
    
            label{
                margin-bottom: 7px;
                font-size: 15px;
            }
        
            input, textarea{
                padding: 5px 12px;
                border-radius: 3px;
                font-size: 15px;
            }
        }
    }

    @media #{$information-sm-laptop} {
        .form-field{
            margin-bottom: 15px;
    
            label{
                margin-bottom: 5px;
                font-size: 14px;
            }
        
            input, textarea{
                padding: 4px 10px;
                border-radius: 3px;
                font-size: 14px;
            }
        }
    }
    @media #{$information-lg-tablet} {}
    @media #{$information-hz-phone} {}
    @media #{$information-tablet} {}
}