.yadea-child-page {
  .banner {
    background-size: cover;
    height: calc(100vh - 72px);
    position: relative;
    @media #{$information-tablet} {
      min-height: 300px;
    }
    @media #{$information-sm-tablet} {
      height: 300px;
    }
    .text {
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      @include css3-prefix(transform, translateY(-50%));
      @media #{$information-tablet} {
        padding: 0 15px;
        text-shadow: 5px 5px 15px rgba(0,0,0,.16);
      }
      h2 {
        font-size: 4.125rem;
        line-height: 1.2em;
        font-weight: bolder;
        @media #{$information-sm-tablet} {
          font-size: 2.5rem;
        }
      }
      p {
        font-size: 1.25rem;
      }
    }
  }

  .content {
    width: 1300px;
    margin: 0 auto;
    @media screen and (max-width: 1300px) {
      width: 1170px;
    }
    @media screen and (max-width: 1170px) {
      max-width: 960px;
    }
    @media screen and (max-width: 960px) {
      max-width: 720px;
    }
    @media #{$information-tablet} {
      width: 100%;
      padding: 0 15px;
    }
  }

  .line {
    width: 14px;
    height: 3px;
    background: #eb6302;
    border-radius: 3px;
    margin: 0 auto;
  }

  .ui-flex {
    display: -ms-flexbox;
    display: flex;
  }

  .align-center {
    -ms-flex-align: center;
    align-items: center;
  }

  img {
    max-width: 100%;
  }
}

.about-page {
  .banner {
    background: #fff url('../img/about-banner.jpg') no-repeat top;
  }
  .intro-list {
    padding: 60px 0;
    border-bottom: 1px solid #ededed;
    @media #{$information-sm-tablet} {
      padding: 30px 0;
    }
    .intro-item {
      width: 25%;
      padding-left: 50px;
      border-left: 1px solid hsla(0,0%,100%,.14);
      @media #{$information-960} {
        padding-left: 20px;
      }
      @media #{$information-sm-tablet} {
        width: 50%;
      }
      &:first-child {
        border-left: none;
      }
      .line {
        margin: 0;
        width: 34px;
      }
      h3 {
        display: inline;
        font-size: 3.5rem;
        font-weight: bolder;
        background: -webkit-linear-gradient(bottom left,#e3000f,#ef7c00);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        @media only screen and (max-width : 1170px) {
          font-size: 3.4rem;
        }
        @media #{$information-960} {
          font-size: 3rem;
        }
      }

    }
    .ui-flex {
      @media #{$information-sm-tablet} {
        flex-wrap: wrap;
      }
    }
  }

  .description {
    padding: 100px 0 40px;
    text-align: center;
    @media #{$information-tablet} {
      padding: 100px 15px 40px;
    }
    @media #{$information-sm-tablet} {
      padding: 40px 15px 10px;
    }
    .text {
      h3 {
        font-size: 2.625rem;
        font-weight: bolder;
        @media #{$information-sm-tablet} {
          font-size: 2.3rem;
        }
      }
      p {
        margin: 20px 0 40px;
        @media #{$information-sm-tablet} {
          margin: 10px 0 20px;
        }
      }
    }
    .points-list {
      margin: 40px 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      @media #{$information-sm-tablet} {
        flex-direction: column;
      }
      @media #{$information-sm-tablet} {
        margin: 20px 0 0;
      }
      .points-item {
        margin-bottom: 20px;
        width: calc((100% - 20px)/2);
        @media #{$information-sm-tablet} {
          width: 100%;
        }
        &:nth-child(2n) {
          margin-left: 20px;
          @media #{$information-sm-tablet} {
            margin-left: 0;
          }
        }
      }
    }

  }

  .product {
    padding: 100px 0;
    background: #fafafa;
    @media #{$information-sm-tablet} {
      padding: 40px 0;
    }
    .text {
      text-align: center;
      h3 {
        font-size: 2.625rem;
        font-weight: bolder;
        @media #{$information-sm-tablet} {
          font-size: 2.3rem;
        }
      }
      p {
        margin: 20px 0 30px;
        @media #{$information-sm-tablet} {
          margin: 10px 0 20px;
        }
      }
    }
    .points-list {
      margin: 40px 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      @media #{$information-sm-tablet} {
        flex-direction: column;
      }
      @media #{$information-sm-tablet} {
        margin: 20px 0 0;
      }
      .points-item {
        width: calc((100% - 40px)/3);
        margin-right: 20px;
        margin-bottom: 20px;
        &:nth-child(3n+0) {
          margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          .text p {
            height: 380px;
          }
        }
        @media #{$information-960} {
          width: calc((100% - 20px)/2);
          &:nth-child(3n+0) {
            margin-right: 20px;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(6) {
            .text p {
              height: 155px;
            }
          }
          &:nth-child(3),
          &:nth-child(4) {
            .text p {
              height: 265px;
            }
          }
        }
        @media #{$information-sm-tablet} {
          width: 100%;
          .text p {
            height: auto !important;
          }
        }
      }
      .img-box {
        text-align: center;
        background-color: #fff;
      }
      .text {
        background: #fff;
        padding: 60px 60px 40px;
        @media screen and (max-width: 1300px) {
          padding: 60px 30px 40px;
        }
        @media screen and (max-width: 1170px) {
          padding: 60px 15px 40px;
        }
        @media #{$information-sm-tablet} {
          padding: 30px 15px 20px;
        }
        h4 {
          font-size: 2rem;
          font-weight: bolder;
          height: 114px;
          @media #{$information-960} {
            height: auto;
          }
          @media #{$information-sm-tablet} {
            font-size: 1.5rem;
          }
        }
        p {
          line-height: 2em;
          height: 250px;
        }
      }
    }

  }

  .culture {
    padding: 100px 0;
    @media #{$information-tablet} {
      padding: 100px 15px;
    }
    @media #{$information-sm-tablet} {
      padding: 40px 15px;
    }
    .text {
      text-align: center;
      h3 {
        font-size: 2.625rem;
        font-weight: bolder;
        @media #{$information-sm-tablet} {
          font-size: 2.3rem;
        }
      }
      p {
        margin: 20px 0 40px;
        @media #{$information-sm-tablet} {
          margin: 10px 0 20px;
        }
      }
    }
    .points-list {
      margin-top: 40px;
      align-items: flex-start;
      @media #{$information-960} {
        flex-direction: column;
      }
      .text {
        width: 660px;
        padding-right: 160px;
        text-align: left;
        @media #{$information-960} {
          order: 2;
          padding-right: 0;
          width: 100%;
        }
        h5 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        p {
          margin: 10px 0 50px;
          @media #{$information-sm-tablet} {
            margin-bottom: 20px;
          }
        }

      }
      .img-box {
        width: 640px;
        margin: auto;
        @media #{$information-960} {
          order: 1;
          margin-bottom: 20px;
          max-width: 350px;
          width: 100%;
        }
      }
    }
  }

  .gongyi {
    padding: 0 0 100px;
    @media #{$information-tablet} {
      padding: 0 15px 100px;
    }
    @media #{$information-sm-tablet} {
      padding-bottom: 40px;
    }
    .ui-flex {
      @media #{$information-sm-tablet} {
        flex-direction: column;
      }
    }
    .text {
      text-align: center;
      h3 {
        font-size: 2.625rem;
        font-weight: bolder;
      }
    }
    .points-list {
      margin-top: 40px;
      .points-item {
        width: calc((100% - 20px)/2);
        margin-right: 20px;
        @media #{$information-sm-tablet} {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .desc {
        border: 1px solid #ededed;
        border-top: none;
        padding: 30px;
        @media #{$information-sm-tablet} {
          padding: 15px;
        }
        p {
          height: 4.5em;
          margin-bottom: 0;
          @media screen and (max-width: 960px){
            height: 5.5rem;
          }
          @media #{$information-tablet} {
            height: 8.5rem;
          }
          @media #{$information-sm-tablet} {
            height: auto;
          }
        }
      }
    }
  }
}