#content-container{
  .content-block{
    padding-bottom: 150px;

    @media #{$information-hz-phone} {
      padding-bottom: 90px;
    }

    @media #{$information-tablet} {
      padding-bottom: 70px;
    }

    @media #{$information-phone} {
      padding-bottom: 50px;
    }

    @media #{$information-md-phone} {
      padding-bottom: 40px;
    }
  }

  // Common typography
  .title{
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media #{$information-hz-phone} {
      font-size: 36px;
    }

    @media #{$information-tablet} {
      font-size: 32px;
      letter-spacing: 1px;
    }

    @media #{$information-phone} {
      font-size: 28px;
      margin-bottom: 0;
    }

    @media #{$information-md-phone} {
      font-size: 26px;
    }
  }

  .content-block{

    *{
      color: #585858;
    }

    h1,h2,h3,h4{
      margin: 60px 0 20px;
      font-size: 36px;
      font-weight: 400; //regular

      @media #{$information-hz-phone} {
        margin: 40px 0 20px;
        font-size: 32px;
      }

      @media #{$information-tablet} {
        margin: 35px 0 15px;
        font-size: 28px;
      }

      @media #{$information-phone} {
        margin: 30px 0 12px;
        font-size: 26px;
      }

      @media #{$information-md-phone} {
        margin: 25px 0 12px;
        font-size: 24px;
      }
    }

    p{
      font-size: 18px;
      line-height: 24px;

      @media #{$information-hz-phone} {
        font-size: 16px;
        line-height: 22px;
      }

      @media #{$information-tablet} {}

      @media #{$information-phone} {}

      @media #{$information-md-phone} {}
    }
  }
}