/* ======= PRODUCTS PAGE STYLE SHEET ====== */
/* Products Head */
#products-head{
  padding: 45px 0 30px;

  .series-name{
    margin-bottom: 30px;
  }

  .products-control{
    &__item{
      margin: 0 10px;
      border: 1px solid $gray;
      display: inline-block;
      padding: 0 40px;
      height: 44px;
      line-height: 44px;
      border-radius: 22px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400; // Regular

      &.active{
        background: $main-color;
        background: linear-gradient(to right, #ed2024, #f5811f);
        color: $white !important;
        border: none;
      }

      &__link{

      }
    }
  }

  /* Responsive */
  @media #{$information-laptop} {}
  @media #{$information-sm-laptop} {}
  @media #{$information-lg-tablet} {}
  @media #{$information-hz-phone} {
    padding: 45px 0 30px;
    z-index: 2;
    position: relative;

    .series-name{
      margin-bottom: 30px;
      color: $text-color;
      opacity: 0.8;
    }

    .products-control-mb{
      width: 100%;
      text-align: center;
      position: relative;

      .action-holder{
        position: relative;
        z-index: 2;
        border: none;
        width: 180px;

        &:active{
          z-index: 2;
        }

        i{
          position: absolute;
          right: 15px;
          line-height: 37px;
        }
      }

      .products-control{
        position: absolute;
        top: 18px;
        padding: 20px 0 10px;
        text-align: center;
        background-color: $white;
        left: 50%;
        z-index: 1;
        width: 180px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        display: none;

        &__item{
          list-style: none;
          border-radius: 0;
          border: none;
          padding: 8px auto;
          margin: 0;
          position: relative;
          z-index: 2;
          background-color: $white;
          font-size: 14px;
          width: 100%;

          &:first-child{
            &.active{
              &:before{
                content: '';
                width: 100%;
                height: 19px;
                top: -19px;
                left: 0;
                position: absolute;
                background: $main-color;
                background: linear-gradient(to right, #ed2024, #f5811f);
              }
            }
          }
        }
      }
    }
  }
  @media #{$information-tablet} {}
  @media #{$information-phone} {
    .series-name{
      margin-bottom: 20px;
      padding: 0 50px;
      font-size: 22px;
    }

    .products-control-mb{
      .action-holder{
        width: 150px;

        i{
          position: absolute;
          right: 15px;
          line-height: 34px;
        }
      }

      .products-control{
        top: 17px;
        padding: 17px 0 10px;
        width: 150px;

        .products-control__item{
          padding: 6px auto;
          font-size: 12px;
          height: 38px;

          &.active{
            display: none;
          }

          //&:first-child{
          //  &.active{
          //    &:before{
          //      height: 17px;
          //      top: -17px;
          //    }
          //  }
          //}
        }
      }
    }
  }

  @media #{$information-md-phone} {}

  @media #{$information-sm-phone} {
    .series-name{
      margin-bottom: 15px;
      padding: 0 25px;
      font-size: 20px;
    }
  }
}


/* Products List */
#product-list{
  padding: 20px 0 100px;

  .series{
    min-height: 100vh;

    &__block{
      margin-top: 80px;

      &__title{
        max-width: 33.3%;
        margin: 0 0 100px;

        img{
          width: 100%;
        }
      }

      &__products{
        &__item{
          margin-bottom: 100px;

          &__image{
            text-align: center;

            img{
              max-width: 100%;
            }
          }

          &__detail{
            padding: 25px 0px 0 40px;

            .product-name{
              font-size: 57px;
              line-height: 71px;
              font-weight: 700; // bold
              margin-bottom: 20px;
            }

            .price{
              color: $main-color;
              font-size: 32px;
              font-weight: 400; // regular
              margin-bottom: 15px;
            }

            .desc{
              width: 80%;
              font-size: 24px;
              margin-bottom: 30px;
              color: $black;
              opacity: 0.8;
              line-height: 30px;
            }

            .product-cta{
              margin-right: 20px;

              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  /* Responsive */
  @media #{$information-laptop} {
    padding: 20px 0 90px;

    .series{  
      &__block{
        margin-top: 75px;
  
        &__title{
          margin: 0 0 90px;
        }
  
        &__products{
          &__item{
            margin-bottom: 90px;
  
            &__detail{
              padding: 25px 0px 0 40px;
  
              .product-name{
                font-size: 54px;
                line-height: 70px;
                margin-bottom: 18px;
              }
  
              .price{
                font-size: 30px;
                margin-bottom: 15px;
              }
  
              .desc{
                font-size: 22px;
                margin-bottom: 30px;
                line-height: 30px;
              }
  
              .product-cta{
                margin-right: 18px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$information-sm-laptop} {
    padding: 20px 0 85px;

    .series{  
      &__block{
        margin-top: 70px;
  
        &__title{
          margin: 0 0 85px;
        }
  
        &__products{
          &__item{
            margin-bottom: 85px;
  
            &__detail{
              padding: 25px 0px 0 40px;
  
              .product-name{
                font-size: 50px;
                line-height: 66px;
                margin-bottom: 18px;
              }
  
              .price{
                font-size: 28px;
                margin-bottom: 12px;
              }
  
              .desc{
                font-size: 20px;
                margin-bottom: 30px;
                line-height: 30px;
              }
  
              .product-cta{
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$information-lg-tablet} {}
  @media #{$information-hz-phone} {
    padding: 20px 0 0;

    .series{
      &__block{
        margin-top: 40px;

        &__title{
          margin: 0 0 20px;
          img{
            max-width: 40%;
          }
        }

        &__products{
          &__item{
            margin-bottom: 80px;

            &__image{
              text-align: center;

              img{
                max-width: 90%;
              }
            }

            &__detail{
              padding: 0;
              text-align: center;

              .product-name{
                font-size: 36px;
                line-height: 54px;
                margin-bottom: 0px;
              }

              .price{
                font-size: 30px;
                font-weight: 400; // regular
                margin-bottom: 15px;
              }

              .desc{
                width: 100%;
                font-size: 22px;
                margin-bottom: 30px;
                line-height: 28px;
              }

              .product-cta{
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$information-tablet} {}
  @media #{$information-phone} {
    padding: 0;

    .series{
      &__block{
        margin-top: 30px;

        &__title{
          margin: 0 0 20px;
          img{
            max-width: 46%;
          }
        }

        &__products{
          &__item{
            margin-bottom: 70px;

            &__image{
              img{
                max-width: 88%;
              }
            }

            &__detail{
              padding: 0;

              .product-name{
                font-size: 28px;
                line-height: 44px;
                margin-bottom: 0;
              }

              .price{
                font-size: 24px;
                font-weight: 400; // regular
                margin-bottom: 15px;
                margin-top: 7px;
              }

              .desc{
                width: 100%;
                font-size: 16px;
                padding: 0 30px;
                margin-bottom: 15px;
                line-height: 32px;
              }

              .product-cta{
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$information-md-phone} {
    padding: 0;

    .series{
      &__block{
        margin-top: 25px;

        &__title{
          margin: 0 0 20px;
          img{
            max-width: 44%;
          }
        }

        &__products{
          &__item{
            margin-bottom: 60px;

            &__image{
              img{
                max-width: 90%;
              }
            }

            &__detail{
              padding: 0;

              .product-name{
                font-size: 27px;
                line-height: 38px;
                margin-bottom: 0;
              }

              .price{
                font-size: 26px;
                margin-bottom: 10px;
                margin-top: 5px;
              }

              .product-cta{
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-phone} {
    padding: 0;

    .series{
      &__block{
        margin-top: 25px;

        &__title{
          margin: 0 0 20px;
          img{
            max-width: 44%;
          }
        }

        &__products{
          &__item{
            margin-bottom: 60px;

            &__image{
              img{
                max-width: 90%;
              }
            }

            &__detail{
              padding: 0;

              .product-name{
                font-size: 22px;
                line-height: 38px;
                margin-bottom: 0;
              }

              .price{
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 5px;
              }

              .desc{
                font-size: 15px;
                padding: 0 15px;
                margin-bottom: 12px;
                line-height: 30px;
              }

              .product-cta{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}