/* ======= SUPPORT PAGE STYLE SHEET ====== */
/* Support Body */
#support-body{
  padding-top: 60px;

  .support-type{
    padding-bottom: 100px;

    &__item{
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &__image{
        height: 100px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px;
      }

      &__detail{
        color: #6d6e71;

        .page-desc{
          font-weight: 700;// bold
          margin: 0;
          font-size: 20px;
          line-height: 26px;
        }

        .sm-cta{
          font-weight: 400; // regular
          display: inline-block;
          line-height: 26px;

          &:after{
            content:"\00bb";
            margin-left: 8px;
            display: inline-block;
          }
        }
      }
    }
  }

  .contact-info{
    &__title{
      font-weight: 900; // black
      font-size: 32px;
    }

    &__details{
      padding-bottom: 150px;

      &__item{
        list-style: none;
        display: -webkit-flex;
        display: flex;

        &__icon{
          width: 40px;
          height: 40px;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 22px;
        }

        p{
          font-size: 26px;
          color: #000;
          opacity: 0.8;
          font-weight: 400; // regular
        }
      }
    }
  }

  // Responsive
  @media #{$information-laptop} {
    padding-top: 50px;

    .support-type{
      padding-bottom: 80px;


      &__item{

        &__image{
          height: 70px;
          margin-bottom: 16px;

          img{
            max-height: 70px;
          }
        }

        &__detail{
          .page-desc{
            font-size: 18px;
            line-height: 24px;
          }

          .sm-cta{
            font-size: 16px;
            line-height: 24px;

            &:after{
              margin-left: 6px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 28px;
      }

      &__details{
        padding-bottom: 130px;

        &__item{

          &__icon{
            width: 31px;
            height: 31px;
            margin-right: 20px;
          }

          p{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media #{$information-sm-laptop} {
    padding-top: 45px;

    .support-type{
      padding-bottom: 70px;

      &__item{

        &__image{
          height: 60px;
          margin-bottom: 20px;

          img{
            max-height: 60px;
          }
        }

        &__detail{

          .page-desc{
            font-size: 16px;
            line-height: 20px;
          }

          .sm-cta{
            font-size: 12px;
            line-height: 16px;

            &:after{
              margin-left: 6px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 28px;
      }

      &__details{
        padding-bottom: 100px;

        &__item{

          &__icon{
            width: 30px;
            height: 30px;
            margin-right: 15px;
          }

          p{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media #{$information-lg-tablet} {
    padding-top: 50px;

    .support-type{
      margin-bottom: 30px;

      &__item{

        &__image{
          height: 60px;
          margin-bottom: 20px;

          img{
            max-height: 60px;
          }
        }

        &__detail{

          .page-desc{
            margin-bottom: 5px;
            font-size: 18px;
          }

          .sm-cta{
            &:after{
              margin-left: 6px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 32px;
      }

      &__details{
        padding-bottom: 90px;

        &__item{
          margin-bottom: 5px;

          &__icon{
            width: 30px;
            height: 30px;
            margin-right: 18px;

            img{
              max-height: 30px;
              max-width: 30px;
            }
          }

          p{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media #{$information-hz-phone} {
    padding-top: 45px;

    .support-type{
      padding-bottom: 40px;
      margin-bottom: 20px;

      &__item{
        margin-bottom: 40px;

        &__image{
          height: 55px;
          margin-bottom: 20px;

          img{
            max-height: 55px;
            max-width: 65px;
          }
        }

        &__detail{

          .page-desc{
            margin-bottom: 5px;
            font-size: 18px;
          }

          .sm-cta{
            &:after{
              margin-left: 6px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 30px;
      }

      &__details{
        padding-bottom: 90px;

        &__item{
          margin-bottom: 5px;

          &__icon{
            width: 28px;
            height: 28px;
            margin-right: 18px;

            img{
              max-height: 28px;
              max-width: 28px;
            }
          }

          p{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media #{$information-tablet} {
  }

  @media #{$information-phone} {
    padding-top: 40px;

    .support-type{
      padding-bottom: 10px;
      margin-bottom: 20px;

      &__item{
        margin-bottom: 30px;

        &__image{
          height: 50px;
          margin-bottom: 18px;

          img{
            max-height: 50px;
            max-width: 60px;
          }
        }

        &__detail{

          .page-desc{
            margin-bottom: 3px;
            font-size: 16px;
          }

          .sm-cta{
            font-size: 13px;
            &:after{
              margin-left: 5px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 24px;
      }

      &__details{
        padding-bottom: 90px;

        &__item{
          margin-bottom: 5px;

          &__icon{
            width: 28px;
            height: 28px;
            margin-right: 18px;

            img{
              max-height: 28px;
              max-width: 28px;
            }
          }

          p{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media #{$information-md-phone} {
    .support-type{
      padding-bottom: 10px;
      margin-bottom: 20px;

      &__item{
        margin-bottom: 30px;

        &__image{
          height: 45px;
          margin-bottom: 18px;

          img{
            max-height: 45px;
            max-width: 53px;
          }
        }

        &__detail{

          .page-desc{
            margin-bottom: 3px;
            font-size: 15px;
          }

          .sm-cta{
            &:after{
              margin-left: 5px;
            }
          }
        }
      }
    }

    .contact-info{
      &__title{
        font-size: 22px;
      }

      &__details{
        padding-bottom: 50px;

        &__item{
          margin-bottom: 5px;

          &__icon{
            width: 24px;
            height: 24px;
            margin-right: 15px;

            img{
              max-height: 24px;
              max-width: 24px;
            }
          }

          p{
            font-size: 15px;
          }
        }
      }
    }
  }
}