  @font-face {
  font-family: 'DIN Pro', sans-serif;
  src: url('../../fonts/UVF DINPro.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'DIN Pro', sans-serif;
  src: url('../../fonts/UVF DINPro-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura-Bold', sans-serif;
  src: url('../../fonts/futura-bold_[allfont.net].ttf');
  font-weight: 700;
}

html, body{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: $black;
  @media only screen and (max-width : 1170px) {
    font-size: 15px;
  }

  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
  @media #{$information-tablet} {
    font-size: 12px;
  }
}

a{
  color: inherit;

  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

h1,h2,h3,h4,h5,p{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  margin-top: 0;
}

.grad-txt{
  background: -webkit-linear-gradient( 0deg, #F91201, #F86704, #F26D20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-wrap{
  white-space: nowrap !important;
}

.txt-up{
  text-transform: uppercase;
}

.btn{
  &.product-cta{
    padding: 0 70px;
    height: 44px;
    line-height: 44px;
    font-weight: 300;
    border-radius: 22px;
    border-width: 0.5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;

    @media #{$information-laptop} {
      padding: 0 67px 1px;
      height: 41px;
      line-height: 41px;
      border-radius: 21px;
      font-size: 15px;
    }

    @media #{$information-sm-laptop} {
      padding: 0 65px 2px;
      height: 38px;
      line-height: 38px;
      border-radius: 19px;
      font-size: 14px;
    }

    @media #{$information-hz-phone} {
      padding: 0 60px 2px;
      font-size: 14px;
      height: 37px;
      line-height: 37px;
      border-radius: 18px;
    }

    @media #{$information-tablet} {
      padding: 0 55px 2px;
    }

    @media #{$information-phone} {
      padding: 0 50px 2px;
      height: 35px;
      line-height: 35px;
    }

    @media #{$information-md-phone} {
      padding: 0 45px 2px;
    }

    @media #{$information-phone} {
      font-size: 12px;
      padding: 0 30px 2px;
      height: 34px;
      line-height: 34px;
      border-radius: 17px;
    }
  }

  &.btn-trans{
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }

  &.btn-sh{
    padding: 0 40px 1px;

    @media #{$information-laptop} {
      padding: 0 38px 1px;
    }

    @media #{$information-sm-laptop} {
      padding: 0 36px 1px;
    }

    @media #{$information-hz-phone} {
      padding: 0 34px 2px;
    }

    @media #{$information-tablet} {
      padding: 0 33px 2px;
    }

    @media #{$information-phone} {
      padding: 0 32px 2px;
    }

    @media #{$information-md-phone} {
      padding: 0 30px 2px;
    }

    @media #{$information-phone} {
      padding: 0 28px 2px;
    }
  } // -sh stand for short

  &.btn-grad{
    background: $main-color;
    background: linear-gradient(to right, #ed2024, #f5811f);
    color: $white !important;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;

    &:active{
      background: $main-color !important;
      background: linear-gradient(to right, #ed2024, #f5811f) !important;
      color: $white !important;
      border: 1px solid transparent !important;
    }
  }

  // Hover Effect On Transparent Button (Optional)
  &.effect {
    span{
      position: relative;
      z-index: 1;
      color: inherit;
      transition: all ease-out 150ms 20ms;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all ease-out 300ms 20ms;
    }

    &:hover{
      &:before {
        width: 300px;
        height: 300px;
      }
    }

    &.effect-white{
      &:before{
        background-color: $white;
      }

      &:hover{
        span{
          color: $black;
        }
      }
    }

    &.effect-black{
      span{
        color: $gray
      }

      &:before{
        background-color: $gray;
      }

      &:hover{
        span{
          color: $white;
        }
      }
    }

    &.effect-main{

      span{
        color: inherit;
      }

      &:before{
        background-color: $main-color;
      }

      &:hover{
        border-color: $main-color !important;

        span{
          color: $white;
        }
      }
    }
  }
}

.series-name{
  color: $main-color;
  font-size: 24px;
  font-weight: 700; //bold
  letter-spacing: 1px;

  @media #{$information-laptop} {
    font-size: 23px;
  }

  @media #{$information-sm-laptop} {
    font-size: 21px;
  }

  @media #{$information-hz-phone} {
    font-size: 36px;
  }

  @media #{$information-tablet} {
    font-size: 34px;
    letter-spacing: 1px;
  }

  @media #{$information-phone} {
    font-size: 30px;
    margin-bottom: 0;
  }

  @media #{$information-md-phone} {
    font-size: 28px;
  }
}

.series-slogan{
  font-size: 16px;
  font-weight: 400; //regular

  @media #{$information-laptop} {
    font-size: 16px;
  }

  @media #{$information-sm-laptop} {
    font-size: 15px;
  }

  @media #{$information-tablet} {
    font-size: 18px;
  }

  @media #{$information-phone} {
    font-size: 17px;
  }
}

.product-name{
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700; //bold

  @media #{$information-laptop} {
    font-size: 22px;
  }

  @media #{$information-sm-laptop} {
    font-size: 20px;
  }

  @media #{$information-hz-phone} {
    font-size: 36px;
    margin-bottom: 10px;
  }

  @media #{$information-tablet} {
    font-size: 34px;
    letter-spacing: 1px;
  }

  @media #{$information-phone} {
    font-size: 30px;
    margin-bottom: 7px;
  }

  @media #{$information-md-phone} {
    font-size: 28px;
  }
}

.product-slogan{
  font-size: 16px;
  font-weight: 400; // regular
  line-height: 24px;
  position: relative;
  margin: auto;
  padding: 0 19px;
  border-color: inherit;
  border-width: 0;

  &:after{
    content: '';
    font-weight: 300;
    width: 18px;
    height: 18px;
    background-image: url('../img/icons/product-arrow.png');
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    text-align: center;
    display: inline-block;
    margin-left: -17px;
    opacity: 0.9;
    -webkit-transform: translate(24px, 3px);
    transform: translate(24px, 3px);
  }

  &:hover{
    &:after{
      -webkit-animation: arrowLeftRight ease-in-out 600ms 20ms infinite;
      animation: arrowLeftRight ease-in-out 600ms 20ms infinite;
    }
  }

  @-webkit-keyframes arrowLeftRight {
    0%{
      -webkit-transform: translate(24px, 3px);
      transform: translate(24px, 3px);
      opacity: 1
    }
    50%{
      -webkit-transform: translate(26px, 3px);
      transform: translate(26px, 3px);
      opacity: 0.5
    }
  }

  @keyframes arrowLeftRight {
    0%{
      -webkit-transform: translate(24px, 3px);
      transform: translate(24px, 3px);
      opacity: 1
    }
    50%{
      -webkit-transform: translate(26px, 3px);
      transform: translate(26px, 3px);
      opacity: 0.5
    }
  }

  &.txt-white{
    &:after {
      background-image: url('../img/icons/product-arrow-white.png');
    }
  }

  @media #{$information-laptop} {
    font-size: 16px;
  }

  @media #{$information-sm-laptop} {
    font-size: 15px;
    line-height: 20px;
  }

  @media #{$information-hz-phone} {
    font-size: 18px;
    line-height: 24px;
  }

  @media #{$information-tablet} {
    font-size: 18px;
  }

  @media #{$information-phone} {
    font-size: 17px;
  }
}
/* ===================
 * Typography Helpers
 * =================== */
.page-title{
  font-size: 52px;
  letter-spacing: 2px;
  font-weight: 700; // Bold

  @media #{$information-laptop} {
    font-size: 50px;
    letter-spacing: 2px;
  }

  @media #{$information-sm-laptop} {
    font-size: 48px;
  }

  @media #{$information-lg-tablet} {
    font-size: 46px;
  }

  @media #{$information-hz-phone} {
    font-size: 34px;
  }

  @media #{$information-tablet} {
    font-size: 32px;
    letter-spacing: 1px;
  }

  @media #{$information-phone} {
    font-size: 30px;
    margin-bottom: 0;
  }

  @media #{$information-md-phone} {
    font-size: 28px;
    letter-spacing: 0;
  }
}

.title{
  font-size: 42px;
  font-weight: 500; // Medium
  letter-spacing: 2px;

  @media #{$information-laptop} {
    font-size: 40px;
    letter-spacing: 2px;
  }

  @media #{$information-sm-laptop} {
    font-size: 38px;
  }

  @media #{$information-lg-tablet} {
    font-size: 36px;
    letter-spacing: 1px;
  }

  @media #{$information-tablet} {
    font-size: 32px;
  }

  @media #{$information-phone} {
    font-size: 30px;
    margin-bottom: 0;
  }

  @media #{$information-md-phone} {
    font-size: 28px;
    letter-spacing: 0;
  }
}

.page-sub-title{
  font-size: 36px;
  letter-spacing: -2px;
  font-weight: 400;

  @media #{$information-laptop} {
    font-size: 33px;
  }

  @media #{$information-sm-laptop} {
    font-size: 30px;
  }

  @media #{$information-lg-tablet} {
    font-size: 28px;
  }

  @media #{$information-tablet} {
    font-size: 26px;
  }

  @media #{$information-phone} {
    font-size: 25px;
  }

  @media #{$information-md-phone} {
    font-size: 23px;
  }
}

.sub-title{
  font-size: 22px;
  font-weight: 400; // Regular
  letter-spacing: 1px;
  line-height: 30px;

  @media #{$information-laptop} {
    font-size: 20px;
  }

  @media #{$information-sm-laptop} {
    font-size: 19px;
  }

  @media #{$information-lg-tablet} {
    font-size: 18px;
  }

  @media #{$information-tablet} {
    font-size: 17px;
  }

  @media #{$information-phone} {
    font-size: 16px;
  }
}

.desc{
  font-size: 16px;
  font-weight: 400; // Regular

  @media #{$information-laptop} {
    font-size: 15px;
  }

  @media #{$information-sm-laptop} {
    font-size: 14px;
  }

  @media #{$information-phone} {}
}

.page-desc{
  font-size: 18px;
  font-weight: 400; // Regular

  @media #{$information-laptop} {
    font-size: 17px;
  }

  @media #{$information-sm-laptop} {
    font-size: 16px;
  }

  @media #{$information-tablet} {
    font-size: 15px;
  }
}

.uppercase{
  text-transform: uppercase;
}

.txt-white{
  color: $white;
}

.txt-gray{
  color: $gray;
}

.txt-main{
  color: $main-color;
}

.txt-black{
  color: $text-color;
}

.mb-bold{
  @media #{$information-hz-phone} {
    font-weight: 700; // bold
  }
}